.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### web ##
/node_modules/
/src/main/webapp/asserts/
/src/main/webapp/vendors/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

### ETC ###
/bin/
#/.vscode/
/target/
/logs/
/db/
/temp/
src/main/webapp/index_back.html
